.cart-container {
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 30px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 10px;
}

.cart-image {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.cart-info {
  flex: 1;
}

.remove-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-btn:hover {
  background: darkred;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.clear-btn {
  background: gray;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn {
  background: green;
  color: white;
  border: none;
  padding: 12px 22px;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background: darkgreen;
}